 
.feedblitz-email-subscription input[type="text"] {
    border: 1px solid #DDDDDD;
    display: block;
    padding: 5px;
	margin-bottom: 6px;
	width: 95%;
 }

.feedblitz-shortcode {
width: 30%;
float: left;
}